<div class="container__big-card">
    <!--mockado-->
    <div class="big-card__photo">
        <img 
        src="https://testing-angular.com/assets/img/code-coverage-photo-item.png" 
        alt=""
        height="250px"
        srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis molestias aperiam impedit, fugiat nobis quisquam quibusdam facere? Placeat, culpa labore ab odio laudantium dignissimos necessitatibus recusandae, possimus rem in ratione.
            </a>
        </p>
    </div>
</div>
